*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 98%;
}

nav .menu li a {
    display: inline-block;
    margin-top: 34px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav .logo{
    font-size: 2.25rem;
    font-weight: 600;
    margin: 8px 0 0 28px;
    color: #333;
}

.hero{
    margin-top: 130px;
}

.hero span{
    color: #2D9CDB;
    font-size: 1.125rem;
    margin-left: 277px;
}

.hero h1{
    font-size: 3rem;
    font-weight: 500;
    margin-left: 277px;
    margin-top: 16px;
}

.hero-img{
    display: block;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
}

.hero-text{
    color: #4F4F4F;
    font-size: 1.125rem;
    width: 366px;
    font-weight: 400;
    line-height: 27px;
    margin: 24px 277px;
}

.hero-mail{
    font-weight: 500;
    font-size: 0.87rem;
    color: #828282;
    margin-left: 277px; 
}

.hero-input {
    width: 300px;
    display: flex;
    align-items: center;
    margin-left: 277px;
    margin-top: 11px;
}
    
.hero-input input {
    flex: 1;
    padding: 12px;
    border: none;
    background: #F2F2F2;
    border-radius: 12px 0 0 12px;
    font-size: 1.125rem;
    color: #BDBDBD;
}
    
.hero-input-button {
    width: 96px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #2D9CDB;
    color: #F2F2F2;
    cursor: pointer;
    font-size: 1.125rem;
    margin-left: -10px;
}

.services h3,
.projects h3{
    font-size: 2.25rem;
    color: #333;
    padding-top: 200px;
    padding-left: 165px;
}

.services .service{
    display: flex;
    justify-content: center;
    min-width: 80%;
    margin: 42px auto;
    gap: 10px;
}

.service-info{
    width: 341px;
    height: 422px;
    color: #4F4F4F;
    border: 1px solid #4F4F4F;
    padding: 0 34px;
    border-radius: 12px;
    font-size: 1rem;
    line-height: 24px;
}

.service-info h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 24px;
}

.service-info button{
    width: 116px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color:  #E0E0E0;
    color: #828282;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
}

.service-info .fa{
    width: 67px;
    height: 67px;
    border-radius: 16px;
    margin-top: 46px;
    margin-bottom: 35px;
    color: #fff;
    font-size: 1.5rem;
}

.service-info .fa-pen{
    background-color: #2D9CDB;
    padding: 20.5px 20px;
}

.service-info .fa-code{
    background-color: #27AE60;
    padding: 22px 18px;
}

.service-info .fa-list{
    background-color: #EB5757;
    padding: 22px 19px;
}

.projects-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 112px;
    width: 1080px;
    margin: 188px auto;
}

.projects-gallery .project img{
    border-radius: 12px;
    width: 525px;
    height: 525px;
}

.projects-gallery .project:nth-child(2n){
    margin-top: -150px;
}

.project h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.project p{
    font-size: 0.87rem;
    color: #828282;
    margin-top: 20px;
    font-weight: 300;
}

.project-link a{
    display: flex;
    justify-content: end;
    padding-top: 116px;
    font-size: 1.5rem;
    color: #2D9CDB;
    text-decoration: none;

}

.team{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin-top: 241px;
}

.team-info p{
    color: #EB5757;
    font-size: 1.125rem;
    font-weight: 500;
}

.team-info h3{
    font-size: 2.25rem;
    color: #333;
    margin-top: 7px;
}

.team-info h4{
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    margin-top: 14px;
}

.team-gallery{
    display: flex;
    
}

.team-gallery img{
    border-radius: 24px;
    margin: 6px;
}

.left-gallery{
    margin-left: 200px;
    margin-right: 24px;
    margin-top: 125px;
    width: 320px;
    height: 320px;
}

.right-gallery:nth-child(1){
    width: 280px;
    height: 280px;
}

.quote{
    margin-left: 165px;
    margin-top: 196px;
}

.quote p{
    color: 333;
    font-size: 2.25rem;
    width: 937px;
}

.quote-author{
    display: flex;
    flex-direction: row;
}

.author{
    width: 82px;
    height: 82px;
    border-radius: 12px;
    margin-top: 45px;
}

.quote-body{
    margin-top: 45px;
    margin-left: 30px;
}

.quote-body p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.quote-body span{
    color: #828282;
    font-size: 1.125rem;
    font-weight: 500;
}

footer{
    background-color: #100E1D;
    height: 385px;
    margin-top: 203px;
    padding-top: 46px;
    display: flex;
    flex-direction: row;
}

.footer-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 165px;
    margin-right: 245px;
    line-height: 36px;
}

.footer-social h2{
    color: #f2f2f2;
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.footer-social a{
    padding-left: 3px;
    padding-right: 3px;
    margin: 8px 11px 0 0;
    color: #f2f2f2;
    text-align: center;
    border-radius: 2px;
}

.footer-contact{
    margin-left: 350px;
}

.footer-contact p{
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 9px;
}

.footer-input{
    display: inline-block;
    width: 260px;
    height: 47px;
}

.footer-input input{
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 14px;
    color: #bdbdbd;
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

.footer-input button{
    position: absolute;
    width: 84px;
    height: 42px;
    margin-left: -86px;
    margin-top: 2px;
    border-radius: 12px;
    border: none;
    background-color: #2D9CDB;
    color: #f2f2f2;
    font-size: 1rem;
    cursor: pointer;

}

@media (min-width: 768px) {
    
}


